<section id="contact">
    <div class="contact">
        <a href="tel:{{ .phone | urlize }}">
            <button class="contact-button">
                <span class="contact-icon"><img src="images/icon-phone.svg" alt="Telefonnummer"></span>
                <span>{{ .phone }}</span>
            </button>
        </a>
        <a href="mailto:{{ .email }}">
            <button class="contact-button">
                <span class="contact-icon"><img src="images/icon-email.svg" alt="E-Mail"></span>
                <span>{{ .email }}</span>
            </button>
        </a>
        <a href="https://www.google.com/maps/search/?api=1&query={{ .address.street | urlquery }}+{{ .address.zipcode }}+{{ .address.city | urlquery }}"
            target="_blank">
            <button class="contact-button">
                <span class="contact-icon"><img src="images/icon-address.svg" alt="Adresse"></span>
                <div style="text-align: left;">
                    {{ .address.street | markdownify }} <br>
                    {{ .address.zipcode | markdownify }} {{ .address.city | markdownify }}
                </div>
            </button>
        </a>
    </div>
</section>